<html lang="en" xmlns:th="https://thymeleaf.org">
<head th:replace="layout :: site-head">
    <title>Spring MVC Technical Blog</title>
</head>
<header th:replace="layout :: logged-in">

</header>
<h1>Create New Post</h1>

<form action="/create">
    <div>Post Title</div>
    <div>
        <input type="text" name="title" size="70"/>
    </div>
    <div>Description :</div>
    <div>
        <textarea rows="7" cols="100" name="body"/>
    </div>
    <div>
        <input type="submit" value="submit"/>
    </div>
</form>

</html>